{% extends "core/base.html" %}

{% block content %}
<div class="thin">
<h2>Create Certificate:</h2>
<form method="post">{% csrf_token %}
    <table class="bordered">
    {% for field in form %}
    <tr><th>{{ field.label_tag }} </th><td>{{ field }}{{ field.errors }}</td></tr>
    {% endfor %}
    {% for field in certificatesubject_form %}
    <tr><th>{{ field.label_tag }} </th><td>{{ field }}{{ field.errors }}</td></tr>
    {% endfor %}
    </table>
    <input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
